/*

theme color : #25394c;
lighter : #374d61;
darker : #132739;

grey : #6b8089;
lighter : #92a2a9;
darker : #5c6d75;

#663398

*/

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #132739;
	background-color: #6b8089;
}

header {
	margin: 0;
	padding: 0;
	display: none;	/* Delete this line in case you add content to the header */
}

/********************
		MENU
********************/

nav {
	display: block;
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #25394c;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    z-index: 5;
}

/* Responsive */
@media screen and (max-width: 1024px) {

	nav {
		position: relative;
	}
}

nav ul {
    margin: 0;
	padding: 0;
	line-height: 40px;
}

nav ul li { 
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
    color: #6b8089;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    background: transparent;
    transition: all 200ms ease;
}

/* Responsive */
@media screen and (max-width: 480px) {

	nav ul li, nav ul li a {
		display: block;
	}
}

nav ul li a:hover {
	background-color: #374d61;
	color: #92a2a9;
}

/***********************
		CONTENT
***********************/

#main {
	margin: 0;
	margin-top: 40px;
	padding: 10px;
	min-height: 650px;
	background-color: #6b8089;
}

/* Responsive */
@media screen and (max-width: 1024px) {

	#main {
		margin-top: 0px;
	}
}

/* Responsive */
@media screen and (max-width: 480px) {

	#main {
		padding: 5px;
	}
}

#main iframe {
	display: block;
	margin: auto;
}

#main h1, h2 {
	text-align: center;
}

h1 {
	margin: 15px;
	font-size: 1.7em;
	color: #25394c;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* Responsive */
@media screen and (max-width: 1024px) {

	.flex-container {
		flex-flow: column wrap;
	}
}

.box {
	flex: 1;
	margin: 0 auto;
	background-color: #92a2a9;
	padding: 20px;
	margin: 10px;
	border-radius: 7px;
}

.msg-box {
	font-style: italic;
	font-size: 1.3em;
	flex: 0.6;
}

.msg-box .success {
	color: #27ae60;
}

.msg-box .error {
	color: #e74c3c;
}

/* Responsive */
@media screen and (max-width: 480px) {

	.box {
		padding: 15px;
		margin: 5px;
	}
}

.box h2 {
	margin: 10px;
	color: #25394c;
}

.box a {
	font-weight: bold;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding: 1px;
	margin: -1px;
	transition: all 300ms ease;
}

.box a:hover {
	color: #25394c;
	border-bottom: 2px solid #25394c;
	cursor: default;
}

.icon-img {
	text-align: center;
}

/**********************
		EVENTS
**********************/

.event {
	margin : 0;
	margin-top: 20px;
	background-color: #6b8089;
}

.event ul.event-titre {
	background-color: rgba(37, 57, 76, 0.2);
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
}

.event ul.event-titre li {
	padding: 10px;
	margin: 0;
	font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 640px) {

	.event ul.event-titre {
		flex-flow: column nowrap;
	}

	.event ul.event-titre li {
		display: block;
	}
}

.event ul.event-titre li.event-quand {
	background-color: rgba(37, 57, 76, 0.3);
}

.event ul.event-titre li.event-quoi {
	flex-grow: 1;
}

.event ul.event-titre li.event-ou {
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.2);
	color: #374d61;
}

.event p {
	margin: 0;
	padding: 20px;
}

/********************
		FORMS
********************/

.posting-form {
	flex: 0.5;
	padding: 10px;
}

/* Responsive */
@media screen and (max-width: 1600px) {

	.posting-form {
		flex: 0.65;
	}
}

@media screen and (max-width: 1200px) {

	.posting-form {
		flex: 0.8;
	}
}

@media screen and (max-width: 800px) {

	.posting-form {
		flex: 1;
	}
}

#form {
	margin: 0;
	padding: 0;
}

#form label {
	float: left;
	text-align: right;
	width: 290px;
	margin: 0 10px;
	margin-top: 15px;
	color: #132739;
}

input, textarea, select {
	margin-top: 15px;
	padding: 5px 5px;
	background-color: rgba(255, 255, 255, 0.4);
	color: #6b8089;
	border-radius: 4px;
	border: none;
	transition: all 200ms ease;
}

input:focus, textarea:focus, select:focus, input:hover, textarea:hover, select:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: #92a2a9;
}

input {
	width: 200px;
}

select {
	background: #000;
}

/* Responsive */
@media screen and (max-width: 800px) {

	#form label {
		width: 250px;
	}

	#form input {
		width: 120px;
	}
}

@media screen and (max-width: 640px) {

	#form {
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
	}

	#form label, #form span.form-entry {
		display: block;
		text-align: center;
		margin: 0;
	}

	#form label {
		width: 100%;
	}

	#form span.form-entry {
		width: 50%;
		margin: 0 auto;
		text-align: left;
	}

	#form select {
		width: 50px;
		margin: 0 auto;
		margin-top: 10px;
	}
}

.form {
	color: #5c6d75;
	margin: 0;
	padding: 0;
	width: 100%;
}

span.submit-container {
	display: block;
	margin: 0 auto;
	text-align: center;
}

input.submit-button {
	font-weight: bold;
	padding: 5px;
	margin: 10px auto;
	font-weight: bold;
	font-size: 1em;
	color: #374d61;
	width: auto;
}

/********************
		LOGIN
********************/

#login-frame {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 10;
	display: none;
	background-color: rgba(255, 255, 255, 0.5);
}

.login-box {
	width: 350px;
	height: 200px;
	margin: 10% auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: #6b8089;
}

.login-box form {
	margin: 0;
	padding: 0;
}

.login-box p {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.login-box label, .login-box input {
	margin: 0;
	padding: 10px 10px;
}

.login-box label {
	color: #25394c;
	text-align: right;
	width: 45%;
}

.login-box input {
	width: 45%;
}

.login-box input.submit-button {
	margin: 10px;
}


/**********************
		TABLES
**********************/

table{
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	background-color: white;
	border: 2px solid #132739;
}

.top th {
	font-size: 1.3em;
	background-color: #5c6d75;
}

td, th {
	margin: 10px;
	padding: 5px;
}

/********************
		OTHER
********************/

#main object {
	display: block;
	margin: auto;
	margin-top: 50px;
}

#BBcode {
	display: block;
	margin: auto;
	width: 1000px;
}

#visualPreview {
	display: block;
	width: 80%;
	margin: auto;
	border: 1px solid black;
	min-height: 300px;
}

textarea {
	display: block;
	width: 80%;
	height: 60%;
	margin: auto;
}

/************************
		NOTATION
************************/

.habit0 {
	background-color: red;
}

.habit1 {
	background-color: orangered;
}

.habit2 {
	background-color: orange;
}

.habit3 {
	background-color: gold;
}

.habit4 {
	background-color: limegreen;
}

.habit5 {
	background-color: greenyellow;
}

.unknown, .unnoted {
	background-color: lightgray;
}

.unavailable {
	background-color: darkgray;
}

input[type=range]{
    border: 1px solid white; 
    width: 100px;
}

input[type=range]::-moz-range-track {
    width: 100px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

output {
	display: inline-block;
	width: 50px;
	font-size: 80%;
}

.center {
	text-align: center;
}

#form_sort_annonce {
	width: 90%;
	margin: auto;
}

#form_sort_annonce * {
	tex-align: center;
	margin-auto;
}

#form_sort_annonce label {
	margin-left: 10px;
	margin-right: 10px;
}

#form_sort_annonce input[type=submit] {
	font-weight: bold;
	background-color: lightgreen;
	margin: auto;
	text-align: center;
}