// Chocolate theme

/*
$primary-color: #e6a327;
$secondary-color: #a27035;
$contrast-color: #533e2d;
$bg-color: #362f2d;
$text-color: #ddca7d;
$field-color: $secondary-color;
*/

// Purple&Blue Light theme

$primary-color: #9a63eb;
$primary-color-darker: #8756cc;
$primary-color-darker2: #7348ae;
$secondary-color: #3fb0ac;
$bg-color: #d7dfe0;
$well-color: saturate(darken($bg-color, 4), 3);
$block-color: desaturate(darken($well-color, 4), 3);
$text-color: #596c6b;
$field-color: lighten($well-color, 10);
$shadow-color: rgba(0, 0, 0, 0.6);

// General

$error-color: #df6932;
$success-color: #12c444;