@font-face {
	font-family: 'Source Sans Pro';
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Bold.eot');
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Semibold.eot');
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Regular.eot');
	src: url('../resources/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
		url('../resources/fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Leafy';
	src: url('../resources/fonts/Leafy/Leafy.eot');
	src: url('../resources/fonts/Leafy/Leafy.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/Leafy/Leafy.woff') format('woff'),
		url('../resources/fonts/Leafy/Leafy.ttf') format('truetype'),
		url('../resources/fonts/Leafy/Leafy.svg#Leafy') format('svg');
	font-weight: normal;
	font-style: normal;
}
