@import 'variables';

header {
	@extend %padding;
	@extend %menu-space;
	background-color: $primary-color-darker2;

	.header-logo {

		margin-left: 10%;

		@media screen and (max-width: $mobile) {
			margin: 0 auto;
		}
		
		h1 {
			background-color: transparent;
			margin: 0 !important;
			font-size: 5em;
			color: $secondary-color;
			font-family: 'Leafy';

			@media screen and (max-width: $mobile) {
				font-size: 3.5em;
				text-align: center;
			}

			span {
				display: block;
				margin-left: 30px;
				@extend %uppercase;
				font-size: 0.25em;
				color: $well-color;

				@media screen and (max-width: $mobile) {
					margin-left: 0;
				}
			}
		}
	}
}