@import 'variables';

nav {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $nav-color;
    font-weight: bold;
    text-align: center;
    transition: background-color 100ms ease;

    @media all and (max-width: $tablet) {
    	position: relative !important;
    }

    ul {
	    margin: 0;
		padding: 0;
		@extend %menu-height;

		li { 
			margin: 0;
			padding: 0;
			display: inline-block;

			@media all and (max-width: $menu-block-break) {
				display: block;
		    }

			a, .connexion-link {
				@extend %uppercase;
				font-weight: normal;
				font-size: 1.2em;
				text-decoration: none;
			    color: $nav-link-color;
			    display: block;
			    padding: 0 12px;
			    @extend %menu-height;
			    background: transparent;
			    transition: all 300ms ease;

			    &:hover {
			    	color: $nav-link-hover-color;
			    	box-shadow: inset 0px -2px 0px 0px $secondary-color;

			    	@media all and (max-width: $menu-block-break) {
						box-shadow: inset 2px 0px 0px 0px $secondary-color;
						background-color: $bg-color;
				    }
			    }
			}
		}
	}
}

.is-sticky nav {

	@media all and (min-width: $tablet) {

		background-color: $nav-color-stick;

		a, .connexion-link {

			&:hover {
				background-color: $bg-color;
				box-shadow: inset 0px 3px 0px 0px $secondary-color;
			}
		}
    }
}