@import 'variables';

nav {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $primary-color-darker2;
    font-weight: bold;
    text-align: center;
}

/* Responsive */
@media all and (max-width: $tablet) {

	nav {
		position: relative !important;
	}
}

nav ul {
    margin: 0;
	padding: 0;
	@extend %menu-height;
}

nav ul li { 
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav ul li a, nav ul .connexion-link {
	@extend %uppercase;
	font-weight: normal;
	font-size: 1.2em;
	text-decoration: none;
    color: $primary-color;
    display: block;
    padding: 0 12px;
    @extend %menu-height;
    background: transparent;
    transition: all 300ms ease;
    cursor: default;
}

/* Responsive */
@media all and (max-width: $mobile) {

	nav ul li, nav ul li a {
		display: block;
	}
}

nav ul li a:hover, nav ul .connexion-link:hover {
	// background-color: $primary-color-darker;
	color: $well-color;
}