/*

theme color : #25394c;
lighter : #374d61;
darker : #132739;

grey : #6b8089;
lighter : #92a2a9;
darker : #5c6d75;

#663398

*/

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #132739;
}

header {
	margin: 0;
	padding: 0;
	display: none;
}

nav {
	display: block;
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #25394c;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

nav ul {
    margin: 0;
	padding: 0;
	line-height: 40px;
}

nav ul li { 
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
    color: #6b8089;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}

nav ul li a:hover {
	background-color: #374d61;
	color: #92a2a9;
}

#main {
	margin: 0;
	margin-top: 15px;
	padding: 10px;
	min-height: 650px;
	background-color: #6b8089;
}

#main iframe {
	display: block;
	margin: auto;
}

#main h1, h2 {
	text-align: center;
}

.main-title {
	margin: 15px;
	font-size: 1.7em;
	color: #25394c;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

@media screen and (max-width: 1024px) {

	.flex-container {
		flex-flow: column wrap;
	}
}

.box {
	flex: 1;
	margin: 0 auto;
	background-color: #92a2a9;
	padding: 20px;
	margin: 10px;
	border-radius: 7px;
}

.box h2 {
	margin: 10px;
	color: #25394c;
}

.box a {
	font-weight: bold;
	text-decoration: none;
	color: #374d61;
	border-radius: 3px;
	padding: 3px;
	margin: -3px;
}

.box a:hover {
	color: #25394c;
	cursor: default;
	background-color: rgba(55, 77, 97, 0.3);

}

.icon-img {
	text-align: center;
}

.event {
	margin : 0;
	margin-top: 20px;
	background-color: #6b8089;
}

.event ul.event-titre {
	background-color: rgba(37, 57, 76, 0.2);
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
}

.event ul.event-titre li {
	padding: 10px;
	margin: 0;
	font-weight: bold;
}

@media screen and (max-width: 640px) {

	.event ul.event-titre {
		flex-flow: column nowrap;
	}

	.event ul.event-titre li {
		display: block;
	}
}

.event ul.event-titre li.event-quand {
	background-color: rgba(37, 57, 76, 0.3);
}

.event ul.event-titre li.event-quoi {
	flex-grow: 1;
}

.event ul.event-titre li.event-ou {
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.2);
	color: #374d61;
}

.event p {
	margin: 0;
	padding: 20px;
}

#login {
	float: right;
	position: fixed;
	right: 20px;
	top: 20px;
	width: auto;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}

#form label {
	float: left;
	width: 290px;
	margin-top: 15px;
}

#form input {
	margin-top: 15px;
}

#form input {
	width: 200px;
}

#form select {
	margin-top: 15px;
}

#table table{
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	background-color: white;
}

.top th {
	border-top: 2px solid black;
	font-size: 1.3em;
}

.left {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

td, th {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	margin: 10px;
	padding: 5px;
}

#main object {
	display: block;
	margin: auto;
	margin-top: 50px;
}

#BBcode {
	display: block;
	margin: auto;
	width: 1000px;
}

#visualPreview {
	display: block;
	width: 80%;
	margin: auto;
	border: 1px solid black;
	min-height: 300px;
}

textarea {
	display: block;
	width: 80%;
	height: 60%;
	margin: auto;
}

.error {
	color: red;
}

.success {
	color: green;
}

.habit0 {
	background-color: red;
}

.habit1 {
	background-color: orangered;
}

.habit2 {
	background-color: orange;
}

.habit3 {
	background-color: gold;
}

.habit4 {
	background-color: limegreen;
}

.habit5 {
	background-color: greenyellow;
}

.unknown, .unnoted {
	background-color: lightgray;
}

.unavailable {
	background-color: darkgray;
}

input[type=range]{
    border: 1px solid white; 
    width: 100px;
}

input[type=range]::-moz-range-track {
    width: 100px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

output {
	display: inline-block;
	width: 50px;
	font-size: 80%;
}

.center {
	text-align: center;
}

#form_sort_annonce {
	width: 90%;
	margin: auto;
}

#form_sort_annonce * {
	tex-align: center;
	margin-auto;
}

#form_sort_annonce label {
	margin-left: 10px;
	margin-right: 10px;
}

#form_sort_annonce input[type=submit] {
	font-weight: bold;
	background-color: lightgreen;
	margin: auto;
	text-align: center;
}